node_modules
dist/
dist/index.html
public/video/academy/Acquisto.mp4
public/video/academy/1_course.jpg
public/video/academy/dashboard.mp4
public/video/academy/Simulazione su nuovo veicolo.mp4
public/video/academy/Stampa copia contratto e certificato.mp4
