node_modules
dist/
dist/index.html
public/video/academy/Acquisto.mp4
public/video/academy/1_course.jpg
public/video/academy/dashboard.mp4
public/video/academy/Simulazione su nuovo veicolo.mp4
public/video/academy/Stampa copia contratto e certificato.mp4
public/video/academy/graduate.png
public/video/academy/rimessa di pagamento(e).mp4
public/video/academy/rimesse di pagamento(ab).mp4
.DS_Store
public/video/academy/FormazioneEnergia/1_course.jpg
public/video/academy/FormazioneEnergia/dashboard.mp4
public/video/academy/FormazioneRCA/1_course.jpg
public/video/academy/FormazioneRCA/Acquisto.mp4
public/video/academy/FormazioneRCA/dashboard.mp4
public/video/academy/FormazioneRCA/rimessa di pagamento(e).mp4
public/video/academy/FormazioneRCA/rimesse di pagamento(ab).mp4
public/video/academy/FormazioneRCA/Simulazione su nuovo veicolo.mp4
public/video/academy/FormazioneRCA/Stampa copia contratto e certificato.mp4
